
@{
    ViewBag.Breadcrumb = "<a href='/'>Dashboard</a> / <a href='/campaign/list/'>My Campaigns</a> / Landing Page";
}

<div class="jumbotron">
    <h2>Choose a Landing Page</h2>

    <hr />

    <h4>This is the Landing page for your visitors.</h4>

    <small>
        Following are the templates available Mergeviral. You can customize this template in the Blow section.
    </small>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    
    <div class="grayBox text-center" style="width:500px;">
        <img class="imgRoundEdges" src="http://www.app.mergebox.io/viral/uploads/campaign/1523603772_temp01.jpg" />

        <h4>Start Up Landing Page</h4>

        <a href="">Use This Template</a>
    </div>
</div>